@font-face {
  font-family: "Helvetica Neue";
  src: local("../public/fonts/HelveticaNeue Medium.ttf");
}

:root {
  --header-height: 55px;
  --sidebar-width: 200px;
  --sidebar-width-min: 200px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: var(--sidebar-width);
  margin: 0;
  margin-left: calc(var(--sidebar-width) * -1);
  color: lightgreen;
  background-color: rgba(61, 61, 61, 1);
  font-family: "Helvetica Neue";
  overflow-y:hidden;
  user-select: none;
  transition: margin 0.25s;
}

.sidebar.sidebarOpen {
  margin-left: 0;
}

.sidebar ul {
  width: 100%;
}

.sidebar ul svg {
  color: darkgray;
  font-size: 20px;
}

.sidebar li {
  transition: background 0.5s;
}

.sidebar li#small {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 10px;
  gap: 4px;
}

.sidebar li#big {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 10px;
  line-height: 22px;
  gap: 7px;
  font-size: 15px;
}

.sidebar li:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 1);
}

.sidebar li.selected {
  color: black;
  font-style: italic;
  border-radius: 25px 0 0 25px;
  background-color: rgba(200, 200, 200, 1);
}

.sidebar li.selected svg {
  color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 800px) {
  .sidebar {
    position: fixed;
    left: 0;
    z-index: 1000;
    height: calc(100vh - var(--header-height));
  }
}