@font-face {
  font-family: "Helvetica Neue";
  src: local("../public/fonts/HelveticaNeue Medium.ttf");
}

.home {
  display: flex;
  justify-content: center;
  width: 100%;
  height: fit-content;
  min-height: calc(100vh - var(--header-height));
  font-family: "Helvetica Neue";
  background-color: rgba(207, 200, 200, 0.5);
}

.home__content {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 95%;
  margin: 30px 0;
  overflow: hidden;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 14px;
  background-color: white;
}

.home__header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
  padding-left: 20px;
  border-bottom: 1px solid gray;
  background-color: rgba(217, 229, 233, 0.9);
}

.home__body {
  padding: 15px 5px;
}

.home__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 10px;
  box-sizing: border-box;
  /* background-color: yellow; */
}

.home__info {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 0 10px;
  gap: 10px;
  box-sizing: border-box;
}

.home__info input {
  height: 35px;
  padding-left: 15px;
  border: 1px solid lightgray;
  border-radius: 5px;
  transition: 0.15s;
}

.home__info input:focus {
  border-color: #8ad4ee;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(32 168 216 / 25%);
}

.footer {
  display: flex;
  justify-content: right;
  padding-right: 20px;
  gap: 10px;
}

.footer button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 70px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Helvetica Neue";
}

.footer button#save {
  background-color: lightgreen;
}

.footer button#cancel {
  color: lightgray;
  background-color: #d63031;
}

@media (max-width: 800px) {
}
