@font-face {
    font-family: "Helvetica Neue";
    src: local("../public/fonts/HelveticaNeue Medium.ttf");
}

:root {
    --header-font-size: 15px;
    --label-font-size: 14px;
    --input-font-size: 14px;
    --input-height: 35px;
    --button-height: 35px;
}

.index {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    min-height: calc(100vh - var(--header-height));
    font-family: "Helvetica Neue";
    background-color: rgba(200, 200, 200, 1);
}

.index input:focus, .index select:focus {
    border-color: #8ad4ee;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(32 168 216 / 25%);
}

.tooltip {
    position: relative;
    border: none;
    background: none;
    cursor: pointer;
}

.tooltip::before {
    content: attr(tooltip);
    display: none;
    position: absolute;
    padding: 3px 10px;
    white-space: nowrap;
    border-radius: 5px;
    font-family: "Helvetica Neue";
    font-size: 14px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.tooltip:hover::before {
    display: block;
 }

.tooltip.top::before {
    top: -25px;
    left: -15px;
}

.tooltip.bottom::before {
    right: 55px;
}

.index__controller {
    display: flex;
    flex-direction: row;
    width: 95%;
    height: fit-content;
    margin-top: 20px;
    box-sizing: border-box;
    gap: 20px;
    /* background-color: yellow; */
}

.index__controller button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--button-height);
    width: 120px;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Helvetica Neue";
    font-size: 14px;
    font-weight: bold;
}

.index__controller .addEntry {
    background-color: #90ee90;
}

.index__controller .returnBack {
    background-color: darkgray;
}

.index__content {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
    overflow: hidden;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: var(--label-font-size);
    background-color: white;
}

.index__header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 45px;
    padding-left: 20px;
    box-sizing: border-box;
    font-size: var(--header-font-size);
    border-bottom: 1px solid gray;
    background-color: rgba(217, 229, 233, 0.9);
}

.index__header p {
    flex: 1;
}

.index__header .refresh svg {
    margin-right: 25px;
}

.index__header .refresh svg:hover {
    cursor: pointer;
    color: blue;
    transform: rotate(360deg);
    transition: 1s;
}

.index__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    padding: 20px 5px 30px 5px;
    box-sizing: border-box;
}

.index__infobar {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 95%;
    height: fit-content;
    padding: 0 10px;
    box-sizing: border-box;
    /* background-color: yellow; */
}

.index__infobar input, .index__infobar select {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    max-width: 150px;
    height: 28px;
    padding: 3px 5px;
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-radius: 15px;
    font-family: "Helvetica Neue";
    font-size: 13.4px;
    transition: 0.25s;
}

.index__infobar__status {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 5px;
}

.index__infobar__nav {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.index__infobar__rows select {
    height: 25px;
    padding: 3px 2px 3px 5px;
}

.index__infobar__page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background-color: pink; */
}

.index__infobar__page svg {
    font-size: 17px;
}

.index__infobar__page svg:hover {
    color: blue;
    cursor: pointer;
}

.index__infobar__page input {
    height: 25px;
    width: 40px;
    margin: 0 5px;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: "Helvetica Neue";
    font-size: 14px;
}

.index__filterbar {
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    width: 95%;
    height: fit-content;
    padding: 5px 10px;
    box-sizing: border-box;
    margin-top: 10px;
    border-radius: 10px;
    user-select: none;
    background-color: skyblue;
}

.index__filterbar__print {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
    gap: 10px;

    /* width: 300px; */
    /* background-color: #90ee90; */
}

.index__filterbar__print.disabled {
    pointer-events: none;
    opacity: 0.4;
}

.index__filterbar__print button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
}

.index__filterbar__print img {
    max-width: 100%;
    max-height: 100%;
}

.index__filterbar__header {
    display: flex;
    justify-content: left;
}

.index__filterbar__select {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: left;
    margin-left: 10px;
    gap: 20px;
    cursor: pointer;
}

.index__filterbar__select p {
    font-weight: bold;
    transition: 0.25s;
}

.index__filterbar__select p:hover {
    color: blue;
}

.index__filterbar__clearfilter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: fit-content;
    margin-right: 15px;
    white-space: nowrap;
    overflow: hidden;
}

.index__filterbar__clearfilter p {
    width: 0;
    cursor: pointer;
    visibility: hidden;
    transition:
        width 0.4s ease-out,
        visibility 0.4s ease-out,
        text-shadow 0.35s ease;
}

.index__filterbar__clearfilter.show p {
    width: 100px;
    visibility: visible;
}

.index__filterbar__clearfilter p:hover {
    text-shadow: -.4px -.4px 0 blue,
    .4px -.4px 0 blue,
    -.4px .4px 0 blue,
    .4px .4px 0 blue;
    color: blue;
}

.index__filterbar__dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    user-select: none;
    transition: 0.15s;
    cursor: pointer;
}

.index__filterbar__dropdown:hover {
    color: blue;
}

.index__filterbar__dropdown svg {
    transition: 0.25s;
}

.index__filterbar__dropdown.showFilterBar svg {
    transform: rotate(180deg);
}

.index__filterbar__row {
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: 0;
    padding: 0 15px;
    box-sizing: border-box;
    visibility: hidden;
    transition: 0.4s ease-in;
    overflow: hidden;
}

.index__filterbar__row.show {
    margin-top:20px;
    margin-bottom: 10px;
    height: 55px;
    visibility: visible;
}

.index__filterbar__box {
    display: flex;
    flex-direction: column;
    width: 17%;
    gap: 5px;
}

.index__filterbar__box label {
    display: flex;
    margin-left: 20px;
    white-space: nowrap;
}

.index__filterbar__box input, .index__filterbar__box select {
    display: flex;
    width: 90%;
    max-width: 150px;
    height: 29px;
    margin-left: 10px;
    padding: 3px 14px;
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-radius: 15px;
    font-family: "Helvetica Neue";
    font-size: 13.5px;
    transition: 0.25s;
}

.index__table {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: fit-content;
    margin-top: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-family: "Helvetica Neue";
}

.index__table__scroll {
    width: fit-content;
    max-width: 100%;
    overflow-x: scroll;
}

.index__thead {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: fit-content;
    height: 55px;
    font-weight: bold;
    box-sizing: border-box;
    border-bottom: 1px solid lightgray;
    background-color: rgba(185, 185, 185, 0.8);
}

.index__tbody {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: fit-content;
    height: fit-content;
    box-sizing: border-box;
}

.index__tr {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    height: 40px;
    /* border-bottom: 1px solid lightgray; */
}

.index__tr:not(:last-child) {
    border-bottom: 1px solid lightgray;
}

.index__tr.highlighted {
    background-color: rgba(135, 206, 235, 0.8);
}

.index__td {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    line-height: 20px;
    gap: 10px;
}

.index__td:not(:last-child) {
    border-right: 1px solid lightgray;
}

.index__thead .index__td:not(:last-child) {
    border-right: 1px solid white;
}

.index__td #checkbox {
    cursor: pointer;
}

.index__td__status {
    width: 100%;
    height: 50%;
    font-size: 9px;
    border-radius: 5px;
    color: white;
    overflow: hidden;
}

.index__td__status #appr {
    background-color: green;
}

.index__td__status #not_appr {
    background-color: red;
}

#view:hover {
    color: green;
 }

#delete:hover {
    color: red;
 }

.index__table__scroll::-webkit-scrollbar {
    width: 1px;
    height: 8px;
}

.index__table__scroll::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
}
.index__table__scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
}
.index__table__scroll::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}
.index__table__scroll::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.7);
}

@media (max-width: 800px) {

    .index__infobar__status {
        flex-direction: column;
    }

    .index__infobar__nav {
        flex-direction: column;
        align-items: right;
        justify-content: right;
        text-align: right;
    }

    .index__infobar__rows {
        display: flex;
        justify-content: center;
    }

    .index__filterbar__row.show {
        flex-direction: column;
        height: fit-content;
        gap: 5px;
    }

    .index__filterbar__box {
        width: 100%;
    }
}

@media only print {
    .index {
        display: none !important;
    }
}
